---
import { Image } from 'astro:assets';
import '../styles/layout.scss';
import LogoImg from '../assets/images/logo.webp';
import FbIcon from '../assets/images/fb-icon.svg';
import IgIcon from '../assets/images/ig-icon.svg';
import LineIcon from '../assets/images/line-icon.svg';
import YtIcon from '../assets/images/yt-icon.svg';
---

<header
  class="bg-extra-light-gray sticky top-0 z-50 shadow-md"
  role="navigation"
>
  <div
    class="relative mx-auto flex max-w-187.5 items-center justify-center py-3.5 lg:justify-between"
  >
    <a href="/yoyogo/">
      <Image src={LogoImg} alt="Yoyogo Logo" width="157" height="48" />
    </a>

    <!-- desktop nav -->
    <nav class="hidden lg:block">
      <ul class="flex items-center gap-5 text-lg font-medium">
        <li>
          <!-- 當前頁面加入text-primary變色 -->
          <a class="p-3" href="/yoyogo/">
            <span class="text-primary">抽獎登錄</span>
          </a>
        </li>
        <li>
          <a class="p-3" href="/yoyogo/detail" target="_blank">
            <span class="link-hover">活動辦法</span>
          </a>
        </li>
        <li>
          <a class="p-3" href="/yoyogo/privacy" target="_blank">
            <span class="link-hover">個資蒐集同意條款</span>
          </a>
        </li>
        <li>
          <a class="p-3" href="https://yoyogoshop.com/" target="_blank">
            <span class="link-hover">購買 eSIM</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- mobile nav -->
    <nav
      class="absolute top-[50%] left-2.5 block -translate-y-1/2 transform px-3 py-2 lg:hidden"
    >
      <div class="hamburger cursor-pointer" id="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </nav>
  </div>
</header>

<!-- mobile content -->
<nav
  class="mobile-content text-block bg-extra-light-gray fixed block w-full overflow-hidden lg:hidden"
>
  <div class="container flex h-full flex-col justify-between">
    <ul class="mt-10 flex flex-col">
      <li>
        <!-- 當前頁面加入text-primary變色 -->
        <a class="text-primary block px-6 py-6" href="/yoyogo/"> 抽獎登錄 </a>
      </li>
      <li>
        <a class="block px-6 py-6" href="/yoyogo/detail" target="_blank">
          <span class="link-hover">活動辦法</span>
        </a>
      </li>
      <li>
        <a class="block px-6 py-6" href="/yoyogo/privacy" target="_blank">
          <span class="link-hover">個資蒐集同意條款</span>
        </a>
      </li>
      <li>
        <a
          class="block px-6 py-6"
          href="https://yoyogoshop.com/"
          target="_blank"
        >
          <span class="link-hover">購買 eSIM</span>
        </a>
      </li>
    </ul>

    <div class="social-box mx-6 mb-14 flex items-center justify-center gap-8">
      <a href="https://www.facebook.com/yoyogo.travel/" target="_blank">
        <Image src={FbIcon} alt="Facebook Icon" width="44" height="44" />
      </a>
      <a href="https://www.instagram.com/yoyogo.travel/" target="_blank">
        <Image src={IgIcon} alt="Instagram Icon" width="44" height="44" />
      </a>
      <a href="https://www.youtube.com/@YOYOGO.Travel" target="_blank">
        <Image src={YtIcon} alt="YouTube Icon" width="44" height="44" />
      </a>
      <a href="https://page.line.me/YOYOGO?openQrModal=true" target="_blank">
        <Image src={LineIcon} alt="Line Icon" width="44" height="44" />
      </a>
    </div>
  </div>
</nav>
